# Java class file
*.class

# Package files
*.jar
*.war
*.ear
*.rar

# eclipse setting files
.classpath
.project
.settings/

# IntelliJ IDEA setting files
*.iml
.idea/

# mvn target
target/

# Mac OS X meta file
.DS_Store

